<div class="header">
  <ul class="topbar tb-left">
    <li class="title"><b>News Clone</b></li>
    <li>new</li>
    <li>submit</li>
  </ul>
  <ul class="topbar tb-right">
    <li>login</li>
  </ul>
</div>